global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
defaults
  mode http
  option httplog
  option dontlognull
  timeout connect  5000
  timeout client  20000
  timeout server  20000
  timeout tunnel 3600s
  balance roundrobin
  stats enable
  stats uri /stats

frontend Accesos_http
  bind *:8080
  #mode http
  reqadd X-Forwarded-Proto:\ http

  #use_backend api
  # Add CORS headers when Origin header is present
    capture request header origin len 128
    http-response add-header Access-Control-Allow-Origin %[capture.req.hdr(0)] if { capture.req.hdr(0) -m found }
    rspadd Access-Control-Allow-Methods:\ GET,\ HEAD,\ OPTIONS,\ POST,\ PUT  if { capture.req.hdr(0) -m found }
    rspadd Access-Control-Allow-Credentials:\ true  if { capture.req.hdr(0) -m found }
    rspadd Access-Control-Allow-Headers:\ Origin,\ Accept,\ X-Requested-With,\ Content-Type,\ Access-Control-Request-Method,\ Access-Control-Request-Headers,\ Authorization  if { capture.req.hdr(0) -m found }
  use_backend api
  #use_backend api if { path_beg -i /api/ }
  #use_backend ui if { path_beg -i / }

backend api
  #server apiserver 127.0.0.1:7001 check
  #http-response set-header Access-Control-Allow-Origin %[capture.req.hdr(0)]
  http-response set-header Access-Control-Allow-Credentials true
  http-response set-header Access-Control-Allow-Origin *
  server apiserver 172.24.42.164:8100 check
backend ui
  server devserver localhost:80 check
