.content-nav-tabs{
	background: white;
	width: 100%;
	@media(min-width:480px) {
		background: none;
	}
}


.nav-tabs a{
		background: white;
		font-size: .8rem;
		font-weight: 500;
		
	}



.tab-content {
	background: white;
	margin-top: 0px;
	padding: 2rem;
	width: 100%;
	font-size: .9rem;
	border-left: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	border-right: 1px solid rgba(0,0,0,.1);

	label {
		padding-top: 1rem;
	}

	

	.lista-tabs {
		display: flex;
	}

	.tab-pane .form-horizontal {

	}
}