.navigation {
	width: 100%;
	background-color: $red;
	margin-bottom: em(35);
	.logo {
		display: inline-block;
		vertical-align: middle;
		width: em(98);
		height: em(50);
		margin: em(16);
		background: url(../images/logo-claro-blanco.svg) no-repeat;
		text-indent: -9999999px;
	}

	//menu
	.main--menu {
		display: inline-block;
		vertical-align: middle;
		.navigation-nav {
			margin: 0;
			li {
				display: inline-block;
				a {
					color: white;
					font-size: em(18);
				}
			}
		}
	}
}

//userTitulo
.user-tittle {
	color: $white;
	text-align: right;
	font-size: 50px;
}
