.container-info-bar {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
}

.info-bar {
	width: 100%;
	background: white;
	padding: .5rem 1rem;

	margin-top: -10px;
	.content-info-bar {
		width: 500px;
		position: relative;
		.right-info {
		float: right;
		}
	} 
	.collapse-menu {
		width: 50px;
		height: 50px;
		padding: .5rem;
		cursor: pointer;
		@media (max-width: 769px) { 
			display: none;

		}	
	}

	@media (min-width: 769px) { 
		margin-top: 0px;
		padding: 1.5rem 1rem;
			
		}	

	.home-icon {
		width: 30px;
		height: 30px;
		padding: 0rem;
		cursor: pointer;
		display: none;
		@media (min-width: 769px) { 
			display: inline-block;
			
		}	
	}

	
}


.content-right {
	width: 100%;
	padding: 0;
	margin: 0;
	margin-left: 15px;
}