
body {
	font-family: $type;
	background: #F3F2F2;
}

.input-group {
	margin: auto;
	width: 90%;
}


.loginWrapper {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(rgba($red,.7), $red-dk), url(images/back-login.png) center/cover;
}


@keyframes traslada {
	50% {
		transform: translateY(200px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

.loginBox {
	background: white;
	width: 80%;
	border-top: 4px solid $red;
	animation: traslada 1s forwards cubic-bezier(0.175, 0.885, 0.320, 1.275);;
	@media (min-width: 576px) { 
		width: 350px;
	}
	padding: 2rem;
	margin: auto;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.3);
	border-radius: 4px;

	img {
		width: 45%;
		margin: auto;
		display: block;
		margin-bottom: 1rem;
		animation: traslada 1s;
	}

	.title-login {
		text-align: center;
		font-size: em(24);
		font-weight: 700;
		text-transform: uppercase;
		color: $red;
		margin-bottom: 1rem;
		animation: traslada 1s;
	}

	.button-green {
		background: $color-secundario;
		color: white;
	}

	input[type="text"], input[type="password"] {
		width: 100%;
		border: 1px solid $grey-lt;
		padding: em(7) em(10);
		font-size: em(20);
		margin-bottom: em(12);
		color: $grey-txt;
		@include thePlaceholder ($grey-lt);
	}

	input[type="password"] {
		@media all and (-ms-high-contrast:none), (-ms-high-contrast: active){
			padding: 15px 0;
		}
	}



	.user-icon {
		background: #f6f6f6 url("images/user.png") no-repeat center;
		background-size: 20px;
		width: 50px;
		height: 50px;
	}

	.pass-icon {
		background: #f6f6f6 url("images/lock.png") no-repeat center;
		background-size: 18px;
		width: 48px;
		height: 48px;

	}

	input[type="submit"] {
		background: $rorange;
		width: 100%;
		font-weight: 700;
		color: white;
		text-align: center;
		display: block;
		margin: auto;
		border: none;
		padding: em(10);
		margin-top: em(16);
	}

	.btn {
		&.btn-danger {
			background: $red;
			width: 100%;
			font-weight: 700;
			font-size: em(18);
			color: white;
			text-align: center;
			display: block;
			margin: auto;
			border: none;
			padding: em(8) em(10);
			margin-top: em(16);
		}
	}

	.rec-cont {
		height: 0;
		overflow: hidden;
		transition: all 1s ease;
		font-size: .8rem;
		font-family: "Open Sans", sans-serif;
		animation: traslada .3s;


	}

	.form-login {
		transition: all .3s ease;
		animation: traslada 1s;
	}


	.show-element {
		height: auto;
		transition: all .3s;
		animation: traslada .3s;
	}

	.hide-element {
		height: 0;
		overflow: hidden;
		animation: traslada .3s;
	}



	.btn-show-rec {
		color: $color-azul-claro;
		text-align: center;
		font-style: italic;
		font-size: .8rem;
		padding-top: .5rem;
		font-weight: 500;
		font-weight: bold;
		text-decoration: underline;
		cursor:pointer;
	}
}


