@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

//Fonts
$type: 'Roboto', sans-serif;

//COLORES CORPORATIVOS
$red: #ef3829;
$rorange: #f53402;
$marine: #0097ab;
$red-dk: #b7202e;
$grey-txt: #818181;
$grey-lt: #ccc;
$white: #ffffff;
$black: #000000;


$color-primario: #4D79BB;
$color-secundario: #7FAC4E;
$color-terciario: #3E68AF;
$color-azul-claro: #6DBEEF;