.custom-table td {
	position: relative;
	font-size: 10px;
}


%custom-icon-forms {
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-left: .5rem;
	cursor: pointer;

}



.icon-save:before {
	@extend %custom-icon-forms;
	content: url('images/database.svg');


	
}


.icon-trash:before {
	@extend %custom-icon-forms;
	content: url('images/trash.svg');

	
}

.icon-cross:before {
	@extend %custom-icon-forms;
	content: url('images/cross.svg');

	
}

.icon-trash:before {
	@extend %custom-icon-forms;
	content: url('images/trash.svg');
	
}

.icon-lock:before {
	@extend %custom-icon-forms;
	content: url('images/lock.svg');
	
}

.form-text {
	margin-bottom: 1rem;
	margin-top: 0;
}

.modal-body {
	padding: 0rem 3rem;
}

.modal-info {
	strong {
		font-size: .8rem;
		padding-right: 1rem;
	}
}

.modal-content {
	border-radius: 0;
	border: none;
}

.modal-footer {
	background: white;
}