
.info-page-bar {
	background: #ECECEC;
	margin-bottom: 2rem;
	padding: 1.5rem 0rem 1rem;
	@media (min-width: 768px) { 
  	 padding: 1.5rem 0rem 0rem;
  }
}

.icon-search {
	width: 25px;
	padding: .3rem;;
	margin: 0;
	display: block;
	background: white;
	border: none;
	img {
		width: 25px;
		height: 25px;
	}
	input {
		border: none;
	}
}
.bread-custom {
	font-size: .8rem;
	background: #ECECEC;
}


.content-page {
	margin: 0;
	padding: 0;
}