@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
body {
  font-family: "Roboto", sans-serif;
  background: #F3F2F2; }

.input-group {
  margin: auto;
  width: 90%; }

.loginWrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(239, 56, 41, 0.7), #b7202e), url(images/back-login.png) center/cover; }

@keyframes traslada {
  50% {
    transform: translateY(200px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

.loginBox {
  background: white;
  width: 80%;
  border-top: 4px solid #ef3829;
  animation: traslada 1s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 2rem;
  margin: auto;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  border-radius: 4px; }
  @media (min-width: 576px) {
    .loginBox {
      width: 350px; } }
  .loginBox img {
    width: 45%;
    margin: auto;
    display: block;
    margin-bottom: 1rem;
    animation: traslada 1s; }
  .loginBox .title-login {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    color: #ef3829;
    margin-bottom: 1rem;
    animation: traslada 1s; }
  .loginBox .button-green {
    background: #7FAC4E;
    color: white; }
  .loginBox input[type="text"], .loginBox input[type="password"] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.4375em 0.625em;
    font-size: 1.25em;
    margin-bottom: 0.75em;
    color: #818181; }
    .loginBox input[type="text"]::-webkit-input-placeholder, .loginBox input[type="password"]::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #ccc; }
    .loginBox input[type="text"]::-moz-placeholder, .loginBox input[type="password"]::-moz-placeholder {
      /* Firefox 19+ */
      color: #ccc; }
    .loginBox input[type="text"]:-ms-input-placeholder, .loginBox input[type="password"]:-ms-input-placeholder {
      /* IE 10+ */
      color: #ccc; }
    .loginBox input[type="text"]:-moz-placeholder, .loginBox input[type="password"]:-moz-placeholder {
      /* Firefox 18- */
      color: #ccc; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .loginBox input[type="password"] {
      padding: 15px 0; } }
  .loginBox .user-icon {
    background: #f6f6f6 url("images/user.png") no-repeat center;
    background-size: 20px;
    width: 50px;
    height: 50px; }
  .loginBox .pass-icon {
    background: #f6f6f6 url("images/lock.png") no-repeat center;
    background-size: 18px;
    width: 48px;
    height: 48px; }
  .loginBox input[type="submit"] {
    background: #f53402;
    width: 100%;
    font-weight: 700;
    color: white;
    text-align: center;
    display: block;
    margin: auto;
    border: none;
    padding: 0.625em;
    margin-top: 1em; }
  .loginBox .btn.btn-danger {
    background: #ef3829;
    width: 100%;
    font-weight: 700;
    font-size: 1.125em;
    color: white;
    text-align: center;
    display: block;
    margin: auto;
    border: none;
    padding: 0.5em 0.625em;
    margin-top: 1em; }
  .loginBox .rec-cont {
    height: 0;
    overflow: hidden;
    transition: all 1s ease;
    font-size: .8rem;
    font-family: "Open Sans", sans-serif;
    animation: traslada .3s; }
  .loginBox .form-login {
    transition: all .3s ease;
    animation: traslada 1s; }
  .loginBox .show-element {
    height: auto;
    transition: all .3s;
    animation: traslada .3s; }
  .loginBox .hide-element {
    height: 0;
    overflow: hidden;
    animation: traslada .3s; }
  .loginBox .btn-show-rec {
    color: #6DBEEF;
    text-align: center;
    font-style: italic;
    font-size: .8rem;
    padding-top: .5rem;
    font-weight: 500;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer; }

body .btn-primary {
  background-color: #0097ab !important; }

body .page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #0097ab;
  border-color: #0097ab; }

body .page-link {
  color: #0097ab; }

body .modal-dialog .modal-content .modal-header {
  background-color: #ef3829;
  color: white;
  border-radius: 0; }

body .modal-dialog .modal-content .modal-body {
  margin-top: 1.875em; }

.user-tittle {
	color: #FFFFFF;
	text-align: right;
	font-size: 20px;
}

.navigation {
  width: 100%;
  background-color: #C43E1E;
  margin-bottom: 2.1875em; }
  .navigation .logo {
    display: inline-block;
    vertical-align: middle;
    width: 6.125em;
    height: 3.125em;
    margin: 1em;
    background: url(../images/logo-claro-blanco.svg) no-repeat;
    text-indent: -9999999px; }
  .navigation .main--menu {
    display: inline-block;
    vertical-align: middle; }
    .navigation .main--menu .navigation-nav {
      margin: 0; }
      .navigation .main--menu .navigation-nav li {
        display: inline-block; }
        .navigation .main--menu .navigation-nav li a {
          font-size: 1.125em; color:white;}
        .navigation .main--menu .navigation-nav li a:active {
          font-size: 1.125em; color:white;background: #f5f5f5; color: rgba(0,0,0,.5);}

        .navigation .main--menu .dropdown-menu .dropdown-item {
          font-size: 1.125em; color: black;}

.header-logo {
  background: #1b335a;
  padding: 0rem; }
  @media (min-width: 769px) {
    .header-logo {
      padding: 1.1rem; } }

.nav-side-menu {
  font-size: 12px;
  font-weight: 200;
  background-color: #213E6E;
  color: #e1ffff;
  max-width: 100%;
  position: relative;
  height: auto; }
  @media (min-width: 768px) {
    .nav-side-menu {
      width: 280px;
      min-height: 100vh; } }
  .nav-side-menu .brand-full {
    width: 80px;
    padding: 1rem;
    margin: auto; }
    @media (min-width: 769px) {
      .nav-side-menu .brand-full {
        width: 150px;
        margin: auto;
        display: block; } }
  .nav-side-menu .fiscal a {
    padding-left: 4rem;
    font-weight: bold; }
  .nav-side-menu .menu-content {
    padding-left: 0;
    margin: 0;
    width: 100%; }
  .nav-side-menu .nav-header {
    color: #6DBEEF;
    font-size: .6rem; }

@media (min-width: 769px) {
  .menu-list {
    display: block; } }

.nav-side-menu .menu-list .menu-content {
  height: auto; }

.nav-side-menu .toggle-btn {
  display: none; }

.nav-side-menu ul li a {
  padding-left: 0rem; }

.nav-side-menu li a {
  padding-left: 1rem; }

.navbar-toggler-icon {
  margin-top: 1.2rem; }

.nav-side-menu .submenu li {
  margin-left: -3rem;
  list-style-type: none outside none;
  margin-bottom: 0; }

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  line-height: 35px;
  cursor: pointer;
  padding-left: -20px;
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/ }

/* .nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  vertical-align: middle;
  float: right;
} */
.nav-side-menu ul .active,
.nav-side-menu li .active {
  background-color: #4f5b69; }

.nav-side-menu .nom_modulo:nth-child(1):before, .nav-side-menu .nom_modulo:nth-child(2):before, .nav-side-menu .nom_modulo:nth-child(3):before, .nav-side-menu .nom_modulo:nth-child(4):before, .nav-side-menu .nom_modulo:nth-child(5):before, .nav-side-menu .nom_modulo:nth-child(6):before {
  content: "";
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-left: 2rem;
  padding-right: 2rem;
  margin-top: 10px;
  padding-top: 3px; }

.nav-side-menu .nom_modulo {
  position: relative; }
  .nav-side-menu .nom_modulo:nth-child(1):before {
    background: url(images/dice.svg);
    background-repeat: no-repeat; }
  .nav-side-menu .nom_modulo:nth-child(2):before {
    background: url(images/laptop.svg);
    background-repeat: no-repeat; }
  .nav-side-menu .nom_modulo:nth-child(3):before {
    background: url(images/briefcase.svg);
    background-repeat: no-repeat; }
  .nav-side-menu .nom_modulo:nth-child(4):before {
    background: url(images/cog.svg);
    background-repeat: no-repeat; }
  .nav-side-menu .nom_modulo:nth-child(5):before {
    background: url(images/chart-bars.svg);
    background-repeat: no-repeat; }
  .nav-side-menu .nom_modulo:nth-child(6):before {
    background: url(images/eye.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left center; }

.nav-side-menu ul .sub-menu {
  background-color: #192f53; }
  .nav-side-menu ul .sub-menu .nav-header {
    padding-top: 1rem; }

.nav-side-menu ul .sub-menu li {
  margin-left: 0rem; }

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d; }

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d; }

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #192f53;
  border: none;
  line-height: 28px;
  padding-left: 30px; }

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #6DBEEF; }

.nav-side-menu li {
  text-transform: uppercase; }
  .nav-side-menu li:nth-child(2):before ´ {
    content: "buenas";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: red; }

.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff; }

.nav-side-menu li a i {
  padding-left: 5px;
  width: 20px;
  padding-right: 20px; }

.nav-side-menu li:hover {
  background-color: #152847;
  transition: all .3s ease; }

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px; }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center; }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important; } }

@media (min-width: 768px) {
  .nav-side-menu .menu-list .menu-content {
    display: block; } }

.copy {
  width: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 2rem;
  padding: .6rem 0;
  display: none;
  border-top: 1px solid #6DBEEF; }
  @media (min-width: 767px) {
    .copy {
      display: block; } }

@media (min-width: 768px) {
  .navbar-toggler {
    display: none; } }

.container-info-bar {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex; }

.info-bar {
  width: 100%;
  background: white;
  padding: .5rem 1rem;
  margin-top: -10px; }
  .info-bar .content-info-bar {
    width: 500px;
    position: relative; }
    .info-bar .content-info-bar .right-info {
      float: right; }
  .info-bar .collapse-menu {
    width: 50px;
    height: 50px;
    padding: .5rem;
    cursor: pointer; }
    @media (max-width: 769px) {
      .info-bar .collapse-menu {
        display: none; } }
  @media (min-width: 769px) {
    .info-bar {
      margin-top: 0px;
      padding: 1.5rem 1rem; } }
  .info-bar .home-icon {
    width: 30px;
    height: 30px;
    padding: 0rem;
    cursor: pointer;
    display: none; }
    @media (min-width: 769px) {
      .info-bar .home-icon {
        display: inline-block; } }

.content-right {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-left: 15px; }

.head-table {
  padding-top: 1.25em; }
  .head-table h2 {
    color: #ef3829;
    font-weight: bold;
    font-size: 2.5em; }
  .head-table input[type="text"] {
    padding: 0.3125em;
    width: 60%; }

.table-container {
  width: 100%;
  margin: 1.25em auto;
  overflow-x: auto;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  max-width: 73.125em; }
  .table-container .table {
    margin: 0 0 0 0;
    background-color: white;
    table-layout:fixed;
  }
  .table-container .table th {
      font-size: .8rem;
      overflow: hidden;
      vertical-align: middle;
  }
  .table-container .table td {
    max-width: 80px;
    word-wrap: break-word;
    text-align: center;
    font-size: .9rem;
  }

  .table-container .table td:nth-child(2) {
    text-align: left;
  }

  .table-container.politic-table  .table td:nth-child(3), .table-container.parameters-table  .table td:nth-child(3) {
    text-align: justify;
  }

  .table-container.scenary-table  .table td:nth-child(2){
    text-align: center;
  }



  @media (max-width: 992px) {
    .table-container {
      width: 70vw; } }
  .table-container tbody {
    width: 100%; }
  .table-container thead tr th {
    background-color: #0097ab;
    color: white;
    text-align: center;
  }
  .table-container tr td a {
    font-size: 0.875em; }
  .table-container tr td .button-wrap {
    display: inline-block; }
  .table-container .add-button {
    background: #7FAC4E; }
    .table-container .add-button a {
      color: white; }

.custom-table {
  background: white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  width: auto;
  width: 100%;
  margin: auto;
  font-size: .8rem; }
  .custom-table th, .custom-table td {
    border-bottom: 1px solid #ddd;
    background: white;
    text-align: center; }
  .custom-table input, .custom-table select {
    font-size: .8rem; }
  .custom-table select {
    max-width: 150px; }
  .custom-table thead th {
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.05);
    text-align: center; }

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.info-page-bar {
  background: #ECECEC;
  margin-bottom: 2rem;
  padding: 1.5rem 0rem 1rem; }
  @media (min-width: 768px) {
    .info-page-bar {
      padding: 1.5rem 0rem 0rem; } }

.icon-search {
  width: 25px;
  padding: .3rem;
  margin: 0;
  display: block;
  background: white;
  border: none; }
  .icon-search img {
    width: 25px;
    height: 25px; }
  .icon-search input {
    border: none; }

.bread-custom {
  font-size: .8rem;
  background: #ECECEC; }

.content-page {
  margin: 0;
  padding: 0; }

.block-user {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .block-user a {
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.5); }
    .block-user a img {
      width: 25px;
      height: 25px;
      margin-right: .1rem;
      margin-left: .1rem; }

.block-user-form {
  width: 80%;
  margin: auto;
  background: white;
  padding: 2rem;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1); }
  @media (min-width: 769px) {
    .block-user-form {
      width: 50%; } }

.custom-table td {
  position: relative;
  font-size: 10px; }

.icon-save:before, .icon-trash:before, .icon-cross:before, .icon-lock:before {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: .5rem;
  cursor: pointer; }

.icon-save:before {
  content: url("images/database.svg"); }

.icon-trash:before {
  content: url("images/trash.svg"); }

.icon-cross:before {
  content: url("images/cross.svg"); }

.icon-trash:before {
  content: url("images/trash.svg"); }

.icon-lock:before {
  content: url("images/lock.svg"); }

.form-text {
  margin-bottom: 1rem;
  margin-top: 0; }

.modal-body {
  padding: 0rem 3rem; }

.modal-info strong {
  font-size: .8rem;
  padding-right: 1rem; }

.modal-content {
  border-radius: 0;
  border: none; }

.modal-footer {
  background: white; }

.form-wrapper {
  border-radius: 1.25em;
  padding: 1.25em 1.875em;
  max-width: 45em;
  display: block;
  margin: 1.875em auto;
  background-color: #ffffff;
  box-shadow: 0 0 0.75em #ccc; }

.content-nav-tabs {
  background: white;
  width: 100%; }
  @media (min-width: 480px) {
    .content-nav-tabs {
      background: none; } }

.nav-tabs a {
  background: white;
  font-size: .8rem;
  font-weight: 500; }

.tab-content {
  background: white;
  margin-top: 0px;
  padding: 2rem;
  width: 100%;
  font-size: .9rem;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1); }
  .tab-content label {
    padding-top: 1rem; }
  .tab-content .lista-tabs {
    display: flex; }

.btn-primary {
  background: #7FAC4E !important;
  border-radius: 0 !important;
  border: none; }

.modal-info input {
  width: 100%; }

.shadow {
  border-box: 0px 0px 10px 10px rgba(0, 0, 0, 0.3); }

.form-text {
  font-size: .8rem;
  font-style: italic; }
