@import "_variables.scss";
@import "_login.scss";
@import "_main-menu.scss";
@import "_info-bar.scss";
@import "_custom-table.scss";
@import "_bread_custom.scss";
@import "_block-usuario.scss";
@import "_block-perfil.scss";
@import "_block-admin-form.scss";
@import "_custom-tabs.scss";


.btn-primary {
	background: $color-secundario !important;
	border-radius: 0 !important;
	border: none;
}

.modal-info {
}

.modal-info {
	input {
		width: 100%;
	}
}

.shadow {
	border-box: 0px 0px 10px 10px rgba(0,0,0,.3);
}

.form-text{
	font-size: .8rem;
	font-style: italic;
}
